@model RemoteControl.Models.UserCamera

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>UserCamera</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.StartUse, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.StartUse)
                @Html.ValidationMessageFor(model => model.StartUse)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.EndUse, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.EndUse)
                @Html.ValidationMessageFor(model => model.EndUse)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CommonTimeUse, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CommonTimeUse)
                @Html.ValidationMessageFor(model => model.CommonTimeUse)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CameraId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CameraId)
                @Html.ValidationMessageFor(model => model.CameraId)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.UserId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UserId)
                @Html.ValidationMessageFor(model => model.UserId)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
