@model  RemoteControl.Models.Camera
    @{
        AjaxOptions ajaxOpts = new AjaxOptions()
         {
          UpdateTargetId = "but",
          Url = Url.Action("Disconnect", Model)
          };

       
     }

    @using (Ajax.BeginForm(ajaxOpts))
{
    <input id="disconnect"  type="submit" class="btn btn-danger" value="Disconnect" name="waiting" />
}


    <div id="blockscreen700">
        @Html.Action("BlockScreen", Model) 
    </div>
         @Html.Partial("_Player", new Player { camera = Model, width = 700, height = 500 })
     
           
    @foreach (var button in Model.LANController.Buttons)
    {
               @*  Проверить href , чтобы не было переходa
                    <a href=@Url.Action("Click", new { out_id=3}) *@
    <a href="#click" onclick='document.getElementById("myTune").play();$.get("@Url.Action("Click", new { out_id = button.Out })");' class="ctrl" style="left: @button.Left; top: @button.Top;right: @button.Right; bottom: @button.Bottom;">
    </a>
    }

       <audio id="myTune"> 
          <source src="@Url.Content("~/Content/click.mp3")">
       </audio>

   