@model IEnumerable<RemoteControl.Models.Camera>
@{
    ViewBag.Title = "Index";

}
<script src="http://jwpsrv.com/library/S7jpVP1TEeO+aCIAC0MJiQ.js"></script>
@Scripts.Render("~/bundles/player")
<br />
<br />

    <div class="row">
       
        <div class="col-sm-10">
            <div class="row" id="cameras">@Html.Action("Category") </div>
        </div>

        <div class="col-sm-2 thumbnail">

            <h3 class="text-success">Category</h3>
            <ul class="nav nav-tabs nav-stacked ">

                <li>
                    @Ajax.ActionLink("All", "Category", "Main", null,
                                new AjaxOptions { UpdateTargetId = "cameras" })
                </li>
                <li>
                    @Ajax.ActionLink("Streams", "Category", "Main", new { cat = Category.Streams },
                                new AjaxOptions { UpdateTargetId = "cameras" })
                </li>
                <li>
                    @Ajax.ActionLink("Machines", "Category", "Main", new { cat = Category.Machines },
                                new AjaxOptions { UpdateTargetId = "cameras" })
                </li>
                <li>
                    @Ajax.ActionLink("Robots", "Category", "Main", new { cat = Category.Robots },
                                new AjaxOptions { UpdateTargetId = "cameras" })
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li>
                        @Ajax.ActionLink("My cameras", "Camera", "User", null,
                                  new AjaxOptions { UpdateTargetId = "cameras" }, new { @style = "color:#37CB39" })
                    </li>
                }

            </ul>
        </div>
    </div>
