@using RemoteControl.Models

@model RemoteControl.Models.Camera
@{
    ViewBag.Title = "Detail";
    
}
@Scripts.Render("~/bundles/lan")
@Scripts.Render("~/bundles/player")
<h3 class="text-success">@Model.Name</h3>


<!--<script src="http://jwpsrv.com/library/S7jpVP1TEeO+aCIAC0MJiQ.js"></script>

<center>
    <!--<h1 style ="color:red;	">S L O T </h1>-->





@if (!Request.IsAuthenticated)//&& Model.State == State.NotUsed)
{
   using (Html.BeginForm("Login", "Account", FormMethod.Get))// new { returnUrl = Request.Url.PathAndQuery }))//какая-то ошибка авторизации
    {

        @Html.AntiForgeryToken()
        <input type="hidden" name="returnUrl" value="@Request.Url.PathAndQuery" />
        <input type="submit" class="btn btn-primary" value="Войти,чтобы получить управление" name="waiting" />

    }
 
}
else
{ 
    @Html.Action("Connect", Model)
}

<div id="blockscreen300">
    @if (Model.State == State.NotUsed)
{//Почему серго цвета, как выровнять по правому краю
    <span class="badge badge-success">Свободна</span>
}
else if (Model.State == State.Used && Model.UserManager == User.Identity.Name)
{
    <span class="badge badge-success">Вы испозьзуете</span>
}
else
{
    <span class="badge bg-warning">Занята </span>
}</div>
<div id='playerrtEFRoLaRsga'>
   
</div>

    <script type='text/javascript'>
        jwplayer('playerrtEFRoLaRsga').setup({
            file: '@Model.CameraPath',/*rtmp://82.209.194.198:1935/live/ipcamera.stream', 'rtmp://178.172.245.5:1935/live/livestream', Расскоментировать*/
            image: 'https://i.ytimg.com/vi/ngElkyQ6Rhs/hqdefault.jpg',
            rtmp: {
                bufferlength: 1
            },
            autostart: 'true',
            width: 700,
            height: 500,
            //  width: '100%',
            aspectratio: '16:9'
        });
    </script>
