@model IEnumerable<RemoteControl.Models.Camera>
@{
    ViewBag.Title = "Index";
    
}
<script src="http://jwpsrv.com/library/S7jpVP1TEeO+aCIAC0MJiQ.js"></script>
@Scripts.Render("~/bundles/player")
<br />
<br/>
    <div class="row">
        <div class="col-sm-10">
            <div id="cameras" class="row">

                @Html.Action("Category")

                <br />
            </div>
           
            @*<div class="row">
                @for (int i = 0; i < 4; i++)
                {
                     <div class="col-sm-4"><img src="https://i.ytimg.com/vi/ngElkyQ6Rhs/hqdefault.jpg" class="img-rounded" alt="Cinque Terre" width="300" height="300"></div>
                }
               
            </div>
*@
        </div>

        <div class="col-sm-2">

            <h3 class="text-success">Category</h3>
            <ul class="nav nav-tabs nav-stacked">
                @* @foreach (var cat in EnumHelper.GetSelectList(typeof(Category)))
                    {
                        <li>@Ajax.ActionLink(cat.Text, "Category", "Camera",Category.Bildings,
                                        new AjaxOptions { UpdateTargetId = "cameras"  })</li>
                    }*@
                <li>
                    @Ajax.ActionLink("All", "Category", "Camera", null,
                                new AjaxOptions { UpdateTargetId = "cameras" })
                </li>
                <li>
                    @Ajax.ActionLink("Streams", "Category", "Camera", new { cat = Category.Streams },
                                new AjaxOptions { UpdateTargetId = "cameras" })
                </li>
                <li>
                    @Ajax.ActionLink("Machines", "Category", "Camera", new { cat = Category.Machines },
                                new AjaxOptions { UpdateTargetId = "cameras" })
                </li>
                <li>
                    @Ajax.ActionLink("Robots", "Category", "Camera", new { cat = Category.Robots },
                                new AjaxOptions { UpdateTargetId = "cameras" })
                </li>

            </ul>


        </div>
    </div>
